Repository assistant-ui/assistant-ui, pull requests merged in 2025-06, with the labels that each got.

#2118 Fix mutable default arg in StateProxy
  python/assistant-stream/src/assistant_stream/state_proxy.py
Labels: codex

#2119 Fix MessageRepository error text
  packages/react/src/runtimes/utils/MessageRepository.tsx
Labels: codex

#2135 fix(styling): Improve support for non-tailwind users, fix code block styling
  .changeset/chilly-numbers-count.md
  apps/registry/components/assistant-ui/assistant-modal.tsx
  apps/registry/components/assistant-ui/markdown-text.tsx
  apps/registry/components/assistant-ui/thread.tsx
  apps/registry/components/assistant-ui/tool-fallback.tsx
  apps/registry/components/assistant-ui/tooltip-icon-button.tsx
  packages/styles/src/styles/tailwindcss/base-components.css
  packages/styles/src/styles/tailwindcss/markdown.css
Labels: @assistant-ui/styles, @assistant-ui/registry

#2137 feat: allow forwarding portal props for assistant modal content
  .changeset/rare-sheep-punch.md
  packages/react/src/primitives/assistantModal/AssistantModalContent.tsx
Labels: @assistant-ui/react
